[Desktop Entry]
Version=1.0
Type=Application
Name=Plex Rich Presence
Comment=Display your Plex playback status in Discord
Exec=PlexRichPresence
Icon=plex-rich-presence
Terminal=false
Categories=Utility;Network;
StartupNotify=true